<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="StyleSheet" href="../css/main-css-styles-file.css" type="text/css"
		media="screen" />

		<meta content="text/html; charset=iso-8859-2"
			http-equiv="Content-Type" />

		<title>Test polaczenia ...</title>
	</head>
	<body>
		<p th:text="${message}">Test połączenia z bazą danych ...</p>
		<p th:text="#{congrats}">Gratulacje</p>
		<h2 th:text="#{category-list}">Lista kategorii</h2>
		<ul>
			<li th:each="category : ${categoryList}" th:text="|${category.name} - ${category.description}|">Kategoria</li>
		</ul>
	</body>
</html>